# ASSIGNMENT 1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*  expression
'hello' value
 -87.8  value
-       expression
/       expression
+	    expression
6       value

2. What is the difference between string and variable?
string is a value representing a text and variable is a name which can take any value.
example:

In [1]:
# 's' is a value and "this is my first assignment in python" is a string.
s = "this is my first assignment in python"
type(s)

str

3. Describe three different data types.
a) int
   integer values automatically take as int data type. eg. a = 10
b) float
floating point values automatically take as float data type.  eg. a=45.89
c) string
   text values take as string data type. eg. a ='this is my python assignment' or " this is my first assignment"
d) boolean
   True or False values take as boolean datatype. True means 1 and False means 0. eg: a = True
 e) Complex
   complex numbers take as complex data type. eg: a = 5 + 7j
 f) list 
  list represents collection of same or different objects it can be int, float, boolean, complex etc. list is similar to an array.
  eg: l = [1,5,6,9.78,True,5+8j]
  g) tuple
  tuple also represents collection of objects like int, float etc. similar to list but tuple elements are immutable. ( cannot be modified )
  eg: t= (1,3,True,8.90)
  h) set
  set represents collection of non repeting elements. eg: s= {1,2,5,6,8}
  i) disctionary
  dictionary represents a collection of elements in key : value pair format.
  eg: d = {"key1" : "value1", "key2":"value2"}

4. What is an expression made up of? What do all expressions do?
expressions made up of values ( 2,3, etc) and operators (+,* etc) and variables. After evaluating an expression we get a final value.
example

In [24]:
a = 10 + 5 -7 
a

8

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Expression returns a value and statement doesn't return. here spam = 10 is an assignment statement in which the value 10 is assigned in the variable called 'spam'

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
bacon contains 22.

In [27]:
bacon = 22
bacon + 1
bacon

22

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [31]:
'spam'+'spamspam'

'spamspamspam'

In [32]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
we cannot assign values or objects to a integers or we cannot assign values to literals

In [33]:
eggs = 87

In [36]:
100 = 'afs'

SyntaxError: cannot assign to literal (1669929843.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
we use type casting functions here

In [37]:
a = 67
type(a)

int

In [39]:
b = str(a)

In [42]:
b

'67'

In [43]:
type(b)

str

In [44]:
c= float(a)

In [45]:
c

67.0

In [46]:
type(c)

float

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans: we cannot concatenate string to integer.
To overcome this convert 99 to '99' or typecasting str(99)

In [51]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [52]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'